[submodule "ConceptBERT"]
	path = ConceptBERT
	url = https://github.com/ThalesGroup/ConceptBERT
[submodule "pytorch-resnet"]
	path = pytorch-resnet
	url = https://github.com/Cyanogenoid/pytorch-resnet.git
	branch = master
[submodule "pytorch-vqa"]
	path = pytorch-vqa
	url = https://github.com/Cyanogenoid/pytorch-vqa.git
	branch = master
