# Jupyter Notebook
.ipynb_checkpoints

# Pythonpath
*.pyc

# MacOS
.DS_Store
.idea

# Pretrained model files (too large)
*.pth
*.ckpt

# HPC files to ignore
vqa/
*.err
*.out
*.#*
*#*.sh#
*.sh~
mmf/requirements.txt
mmf/requirements.txt
