# Images
imgs/explainability/
imgs/removal_results/
imgs/pipeline/

# Jupyter Notebook
.ipynb_checkpoints
.spyproject/

# Pythonpath
*.pyc
phoc/

# MacOS
.DS_Store
.idea

# Pretrained model files (too large)
*.pth
*.ckpt
checkpoints/

# HPC files to ignore
vqa/
vqa2/
*.err
*.out
*.#*
*#*.sh#
*.sh~
mmf/requirements.txt
mmf/requirements.txt

# Data from data investigation
datainvestigation/data/
*.json
*.tar
*.gz
*.npy

# editable pip installs
/detectron2
